{% extends 'base.html' %}

{% block content %}
<h1>Отклики на мои объявления</h1>

{% if responses %}
    <ul>
        {% for response in responses %}
            <li>
                <strong>{{ response.advertisement.title }}</strong><br>
                От: {{ response.author.email }}<br>
                {{ response.text }}<br>

                {% if response.is_accepted %}
                    <span style="color: green;">Принят</span>
                {% else %}
                    <a href="{% url 'board:accept_response' response.pk %}">
                        Принять
                    </a>
                {% endif %}

                |
                <a href="{% url 'board:delete_response' response.pk %}">
                    Удалить
                </a>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>Откликов пока нет.</p>
{% endif %}
{% endblock %}
