<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        MMORPG Board
    </div>
    <div class="list-group list-group-flush">

        <a class="list-group-item list-group-item-action p-3" href="#">
            Все объявления
        </a>

        <a class="list-group-item list-group-item-action p-3" href="#">
            Мои объявления
        </a>

        <a class="list-group-item list-group-item-action p-3" href="#">
            Отклики
        </a>

        <a class="list-group-item list-group-item-action p-3" href="#">
            Войти
        </a>

    </div>
</div>
